.room{
  flex-basis: 15rem;
  flex-grow: 1;
  margin: 1rem;
  background-color: #fafafa;
  font-family: Raleway;
  box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.18);
  color: #333;
  /*align-self: flex-start;*/
  display: flex;
  flex-direction: column;
  /* border-top: 0.2rem solid #00c0a3; */
}
.room-name{
  font-size: 2.2rem;
  text-align: left;
  padding: 0.6rem 0 0 0.8rem;
  background-color: #fafafa;
}
.room-temps{
  font-size: 1.7rem;
  border-bottom: 0.05rem solid #e7e7e7;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
.room-temp{
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}
.temp-name {
  font-size: 1.5rem;
}
.room-lights{
  margin-top: 0.3rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  background-color: #fafafa;
}
.room-light{
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}
.light-name{
  font-size: 1.5rem;
}
.light-switch{
  padding-top: 0.4rem;
  color: #00c0a3;
  transition: 0.1s;
  cursor: pointer;
}
.light-switch:hover{
  color: #068f7a;
}
.room-blinds{
  padding: 0 0.8rem 0.4rem 0.8rem;
  background-color: #fafafa;
}
.room-blind{
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
}
.blind-name{
  font-size: 1.5rem;
}
.blind-controls{
  font-size: 1rem;
  display: flex;
}
.blind-controls i{
  opacity: 0.6;
  transition: 0.1s;
  cursor: pointer;
  line-height: 1.6rem;
}
.blind-controls i:hover{
  opacity: 1;
}
.blind-state{
  padding: 0 0.3rem;
  text-align: center;
  width: 2rem;
  line-height: 1.6rem;
}
.room-controls{
  background-color: #eee;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 0.2rem;
}
.room-control{
  opacity: 0.3;
  transition: 0.2s;
  cursor: pointer;
}
.room-control:hover{
  opacity: 0.8;
}
.controls-lights-off:hover{
  color: #e83757;
}
