@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway/Raleway-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway/Raleway-Medium.ttf');
  font-weight: bold;
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 6vw;
  font-family: sans-serif;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 12rem auto;
  grid-template-rows: auto;
}
#menu {
  font-family: Raleway;
  font-size: 1.6rem;
  background-color: #253a47;
  color: #eee;
  display: flex;
  flex-direction: column;
}
#menu a {
  color: #eee;
  text-decoration: none;
  display: block;
  padding: 0.6rem 1.2rem;
}
.menu-item {
  cursor: pointer;

  font-size: 1rem;
  transition: 0.1s;
  border: 0 solid #00c0a3;
}
.menu-selected a{
  background-color: #314d5b;
  border-left: 0.4rem solid #00c0a3;
  padding-left: 0.8rem;
}
.menu-item:hover {
  background-color: #2a434f;
}
.menu-item i {
  text-align: center;
  width: 2rem;
}
#menu-header {
  text-align: center;
  padding: 0.8rem 0;
  background-color: #21333e;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
#menu-spacer {
  flex-grow: 1;
}
#menu-time {
  text-align: center;
  margin-bottom: 1rem;
  background-color: #21333e;
  padding: 0.6rem 0;
}
#header i {
  margin-right: 0.8rem;
}
#container {
  background-color: #314d5b;
  overflow-y: auto;
}
#header {
  color: #eee;
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #00c0a3;
  padding: 0.8rem 2rem;
}
#content {
  padding: 2rem;
}
#board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
  flex-wrap: wrap;
}
#light-update-indicator{
  font-size: 0.5rem;
  position: absolute;
  left: 2rem;
  bottom: 2.2rem;
  color: #00c0a3;
}
#light-switch-indicator{
  font-size: 0.5rem;
  position: absolute;
  left: 9rem;
  bottom: 2.2rem;
  color: #de9923;
}
#messages {
  position: absolute;
  bottom: 0;
  left: 12rem;
  right: 0;
}
.msg {
  font-family: Raleway;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
}
.error {
  background-color: #da4b46;
}
.success {
  background-color: #00c0a3;
}

.box{
  min-width: 10rem;
  margin: 1rem;
  background-color: #fafafa;
  font-family: Raleway;
  box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.18);
  color: #333;
}
.box-content {
  padding: 1rem;
}
.box input {
  font-family: Raleway;
  font-size: 1rem;
  flex-basis: 16rem;
  color: #666;
  text-align: center;
  padding: 0.2rem;
}
.box label {
  font-size: 1rem;
  flex: 1 1 auto;
  font-weight: bold;
}
.setting {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
#save-button{
  color: #fafafa;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #00c0a3;
  cursor: pointer;
  text-align: center;
}
#save-button:hover {
  background-color: #07aa91;
}
#save-button:active {
  background-color: #01937c;
}
@media (min-device-width: 1081px){
  html{
    font-size: 20px;
  }
  #board{
    flex-direction: row;
    align-items: stretch;
  }
}
